@charset "UTF-8";
/*variable*/
.marco1 {
  /*en la seccion eventos utilice mixin*/
  border: solid;
  border-image-slice: 1;
  border-width: 4px;
  border-image-source: linear-gradient(60deg, #b16ec4, #5f97b9);
}

.marco2 {
  /*en la seccion eventos utilice mixin*/
  border: solid;
  border-image-slice: 1;
  border-width: 4px;
  border-image-source: linear-gradient(60deg, #b16ec4, #5f97b9);
}

.marco3 {
  /*en la seccion eventos utilice mixin*/
  border: solid;
  border-image-slice: 1;
  border-width: 4px;
  border-image-source: linear-gradient(60deg, #b16ec4, #5f97b9);
}

.h1titulos {
  /*titulos/encabezados en seccion eventos*/
  text-align: center;
  font-size: 25px;
  margin-top: 15px;
  color: white;
}

.h1titulos2 {
  /*titulos/encabezados en seccion ejercicios*/
  /*titulos/encabezados en seccion eventos*/
  text-align: center;
  font-size: 25px;
  margin-top: 15px;
  color: white;
  background-color: rgb(0, 0, 0);
}

/*mixin*/
.botonContacto, .botonContacto_2, .botonContacto_1 {
  /*seccion contacto*/
  border: 1px solid black;
  padding: 15px 30px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(57, 229, 235);
}

.botonContacto_1 {
  background-color: rgb(37, 187, 192);
}

.botonContacto_2 {
  background-color: rgb(46, 136, 163);
}

.botonContacto:hover, .botonContacto_1:hover, .botonContacto_2:hover {
  /*se pone amarillo el fondo de los botones del menu cuando pasamos por arriba*/
  background-color: rgb(247, 247, 239);
  border: solid black 1px;
}

/*extend*/
/*aplico maps en la seccion contactos, en los botones del final*/
.a {
  color: #f00808;
}

/*aplico maps en la seccion contactos, en los botones del final*/
.b {
  color: #da4a07;
}

/*aplico maps en la seccion contactos, en los botones del final*/
.c {
  color: #d9f00b;
}

/*aplico maps en la seccion contactos, en los botones del final*/
.tamFuente {
  color: 30px;
}

.fase {
  /*boton seccion contacto/ boton intermedio, llamo una propiedad con map-get*/
  font-size: 30px;
}

/*extend*/
* {
  font-family: "Roboto Condensed", sans-serif;
  /*toda la pagina utilizará esta tipografía*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bienvenidos {
  font-size: 3em;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  background: url(../imagenes/raya.jpg);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: text 7.5s linear infinite;
          animation: text 7.5s linear infinite;
  text-align: center;
  margin-top: 10px;
}

@-webkit-keyframes text {
  from {
    background-position: 0% 50%;
  }
  to {
    background-position: 100% 100%;
  }
}

@keyframes text {
  from {
    background-position: 0% 50%;
  }
  to {
    background-position: 100% 100%;
  }
}
.bodyEventos {
  background-color: #000000;
}

header {
  display: flex;
  /*mando todo el menu a una fila*/
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  padding: 15px 15px;
  background-color: #000000;
}

.header__menuBotones {
  /*ul*/
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem 1rem;
}

.efectoLogo:hover {
  /*logotipo de la pagina en general(clean)*/
  -webkit-animation: efectoLogo 0.9s both;
  animation: efectoLogo 0.9s both;
}

@-webkit-keyframes efectoLogo {
  /*animacion que se anida de efectologo de la pagina general(clean)*/
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes efectoLogo {
  /*animacion que se anida de efectologo de la pagina general(clean)*/
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
.vibrate-1:hover {
  /*hago vibrar los botones del menu al pasar por arriba*/
  -webkit-animation: vibrate-1 0.3s linear infinite both;
  animation: vibrate-1 0.3s linear infinite both;
}

@-webkit-keyframes vibrate-1 {
  /*animaciones de los botones, vibran al pasar por arriba*/
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}
.subrayado {
  /*le saco el subrayado a los botones del menu*/
  margin-left: 2rem;
  background: rgb(228, 14, 14);
  text-decoration: none;
  color: black;
  padding: 0.5rem 1.5rem;
}
.subrayado__local {
  /*color negro en el boton de la pagina donde estamos posicionados*/
  margin-left: 2rem;
  background-color: black;
  text-decoration: none;
  color: white;
  padding: 0.5rem 1.5rem;
  border: 1px solid white;
}

.subrayado:hover {
  /*se pone amarillo el fondo de los botones del menu cuando pasamos por arriba*/
  background: linear-gradient(180deg, rgb(228, 14, 14) 25%, rgb(251, 252, 69) 100%);
  border: solid black 1px;
  color: #000000;
}

#grilla {
  /*corresponde al cuadro de LA SECCCION EVENTOS, es el esqueleto/maqueta de la estructura*/
  height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr 1fr 75px;
  grid-template-columns: 20% auto 15%;
  grid-template-areas: "gym gym gym" "productos servicios aside" "productos servicios aside" "productos dumbell barra";
  background-color: rgb(214, 228, 24);
}

section#gym {
  /*corresponde al cuadro de LA SECCCION EVENTOS*/
  grid-area: gym;
  background-color: rgb(93, 155, 212);
  overflow: hidden;
  overflow: scroll;
}

section#productos {
  /*corresponde al cuadro de LA SECCCION EVENTOS*/
  grid-area: productos;
  background-color: rgb(192, 180, 192);
}

section#servicios {
  /*corresponde al cuadro de LA SECCCION EVENTOS*/
  grid-area: servicios;
  background-color: rgb(15, 131, 92);
  display: flex;
  justify-content: space-between;
  justify-content: flex-start;
  overflow: hidden;
  overflow: scroll;
}

section#dumbell {
  /*corresponde al cuadro de LA SECCCION EVENTOS*/
  grid-area: dumbell;
  background-color: blueviolet;
  overflow: hidden;
  overflow: scroll;
}

section#barra {
  /*corresponde al cuadro de LA SECCCION EVENTOS*/
  grid-area: barra;
  background-color: darkolivegreen;
}

aside {
  /*corresponde al cuadro de LA SECCCION EVENTOS*/
  grid-area: aside;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.borderE {
  /*borde del cuadro de la seccion EVENTOS*/
  border: 1px solid black;
  /*aca utilice una variable que esta guardada en la carpeta variables.scss y la invoco al principio de main*/
}

.tipografiaRoboto {
  font-family: "Barlow Semi Condensed", sans-serif;
}

.seccionfotos {
  /*fondo fotos*/
  background-image: url(../imagenes/fondofotos.jpg);
}

.fondoEjercicio {
  /*fondo ejercicios*/
  background-image: url(../imagenes/fondoejercicios3.jpg);
}

.seccionContacto {
  /*fondo contatco*/
  background-image: url(../imagenes/fondoformulario.jpg);
}

.fondoAccesorios {
  /*fondo accesorios*/
  background-image: url(../imagenes/fondoaccesorios.jpg);
}

.accesorios1 {
  /*hijo en seccion accesorios*/
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  grid-gap: 10px 15px;
}

.bordeAccesorio:hover {
  /*se pone amarillo el fondo cuando pasamos por arriba*/
  outline: dotted black 5px;
}

.bodyIndex {
  display: grid;
  /*armo la grilla para el cuerpo del index*/
  grid-template-rows: auto 1fr auto;
  /*armo 3 filas*/
  background-color: #000000;
}

.sectionContenedor {
  /*contiene las 3 columnas del index abajo*/
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /*3 columnas de 1 fraccion*/
  padding: 20px 25px;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  background-color: black;
  align-content: center;
  text-align: start;
}

.sectionContenedor__imagen {
  /*en el index*/
  position: relative;
}

.cuadroContacto {
  /*en la seccion contacto*/
  border: solid;
  width: 650px;
  margin-left: 100px;
  margin-bottom: 50px;
  border-image-slice: 1;
  border-width: 3px;
  border-image-source: linear-gradient(60deg, #f7f4f8, #0c1114);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 15px 15px;
}

.footer__logo {
  width: 100px;
}

/*MEDIAS QUERIES*/
@media screen and (max-width: 425px) {
  /*FORMATO CELULAR*/
  .bodyIndex {
    display: grid;
    /*armo la grilla para el cuerpo del index*/
    grid-template-columns: 1fr;
  }

  #grilla {
    /*corresponde al cuadro de LA SECCCION EVENTOS*/
    grid-template-columns: 1fr;
    /*PASA TODO A 1 SOLA COLUMNA*/
    grid-template-areas: "gym" "productos" "dumbell";
    background-color: rgb(8, 8, 99);
  }

  section#barra {
    /*corresponde al cuadro de LA SECCCION EVENTOS*/
    display: none;
    /*desaparece en el formato celular*/
  }

  section#servicios {
    /*corresponde al cuadro de LA SECCCION EVENTOS*/
    display: none;
    /*desaparece en el formato celular*/
  }

  aside {
    /*corresponde al cuadro de LA SECCCION EVENTOS*/
    display: none;
    /*desaparece en el formato celular*/
  }

  header {
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(9, 9, 121) 35%, rgb(0, 212, 255) 100%);
    justify-content: center;
    /*centro el logotipo y los botones*/
    padding: 15px 15px;
  }

  .hero {
    display: none;
  }

  .header__menuBotones {
    /*ul*/
    list-style: none;
    display: flex;
    flex-direction: column;
    /*hago una sola columna de logotipo y los botones*/
    padding: 7px 5px;
    align-items: center;
    justify-content: space-around;
    margin: 1rem;
  }

  li {
    /*menu botones para que se separen un poco*/
    margin: 0.5rem;
  }

  .hero__contenedor {
    display: none;
  }

  .sectionContenedor {
    display: grid;
    grid-template-columns: 1fr;
    /*AHORA PASO TODO A UNA COLUMNA*/
    padding: 20px 25px;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    background-color: rgb(52, 53, 50);
    height: 100%;
    align-content: center;
    text-align: justify;
    align-items: center;
  }

  .cuadroContacto {
    /*seccion contacto botones de abajo*/
    display: none;
  }
}
@media (min-width: 992px) {
  .alto-100 {
    height: 100vh;
  }
}
@media screen and (max-width: 799px) {
  .cuadroContacto {
    /*seccion contacto botones de abajo*/
    display: none;
  }
}/*# sourceMappingURL=main.css.map */