*{
    font-family: 'Roboto Condensed', sans-serif; /*toda la pagina utilizará esta tipografía*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bodyIndex{
    display: grid; /*armo la grilla para el cuerpo del index*/
    grid-template-rows: auto 1fr auto; /*armo 3 filas*/
}

.borderE {/*borde del cuadro de la seccion EVENTOS*/
    border: 1px solid black;
}

.efectoLogo:hover {
	-webkit-animation: efectoLogo 0.9s both;
	        animation: efectoLogo 0.9s both;
}

@keyframes efectoLogo {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }

  .tipografiaRoboto{
    font-family: 'Barlow Semi Condensed', sans-serif;
    
  }


header{ 
    display: flex; /*mando todo el menu a una fila*/
    flex-wrap: wrap;    
    align-items: center;
    justify-content: space-between;
    align-content: center;
    padding: 15px 15px;
   
}
.color-change-2x {/*clase de la animacion de fondo del menu de botones en header*/
	-webkit-animation: color-change-2x 2s linear infinite alternate both;
	        animation: color-change-2x 2s linear infinite alternate both;
}

@keyframes color-change-2x { /*animacion del menu de header*/
    0% {
      background: #6e3806;
    }
    100% {
      background: #116418;
    }
  }


/*
header{ fondo en degrade por si me canso de la animacion lo dejo aca
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);

}*/



.header__menuBotones{ /*ul*/
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem 1rem;
}



.subrayado{ /*le saco el subrayado a los botones del menu*/
    margin-left: 2rem;
    background-color: white;
    text-decoration: none;
    color: black;
    padding: 0.5rem 1.5rem;
    
}
.subrayado__local{
    margin-left: 2rem;
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 0.5rem 1.5rem;
    border: 1px solid white;

}





.subrayado:hover{ /*se pone amarillo el fondo cuando pasamos por arriba*/
background-color: yellow;
border: solid black 1px;
}



.vibrate-1:hover { /*hago vibrar los botones al pasar por arriba*/
	-webkit-animation: vibrate-1 0.3s linear infinite both;
	        animation: vibrate-1 0.3s linear infinite both;

}

@-webkit-keyframes vibrate-1 { /*animaciones de los botones, vibran al pasar por arriba*/
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.blink-1:hover { /*efecto sobre las fotos de la seccion fotos*/
	-webkit-animation: blink-1 0.6s  both;
	        animation: blink-1 0.6s  both;
}

@keyframes blink-1 {/*efecto sobre las fotos de la seccion fotos*/
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0;
    }
  }

.hero {
    display: grid;
    height: 60vh;
    background-image: url(../imagenes/hombresoga5.jpg);
    background-size: cover;
    background-position: center ;
    align-items: center;
    justify-content: center;

   
}
.hero__contenedor{
    width: 100%;
    padding: 0px 0.5rem;
    
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.13769257703081228) 73%, rgba(0,212,255,0.036852240896358524) 100%);

}

.hero__titulo{
    color: white;
    font-size: 4rem;
    font-style: oblique;
   }

.hero__botonRegistrate{   
    padding: 0.5rem;
    background-color: rgb(17, 236, 207);
    color: white;
    margin: 0.2rem;
   
    
    
}

.sectionContenedor{ /*contiene las 3 columnas del index abajo*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);/*3 columnas de 1 fraccion*/
    padding: 20px 25px;
    column-gap: 2rem;
    background-color: black;
    
    align-content: center;
    text-align:start;
    
    

}

.sectionContenedor__imagen{
    position: relative;
}

#section__imagen{ /*las fotos de las 3 columanas de abajo del index*/
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    
}

.fondoArticle{ /*index*/
    background: rgb(131,58,180);
    background: linear-gradient(180deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    padding: 0.3rem;
}

.tituloDestacados{ /*index*/
background-color: aqua;
text-align: center;
    
}


.textoDestacados{ /*index*/
    color: white;
    text-align: center;
}

.tracking-in-expand:hover { /*titulo destacado de seccion indice le aplico un efecto */
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-expand { /*titulo destacado de seccion indice le aplico un efecto */
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 15px 15px;
}

.footer__logo{
    width: 100px;
}

#grilla{ /*corresponde al cuadro de LA SECCCION EVENTOS*/
    height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr 1fr 75px; 
    grid-template-columns: 20% auto 15%;
    grid-template-areas:
         "gym gym gym"
         "productos servicios aside"
         "productos servicios aside"
         "productos dumbell barra";

  background-color: rgb(224, 38, 165); 

}

section#gym{/*corresponde al cuadro de LA SECCCION EVENTOS*/
    grid-area: gym;
    background-color: rgb(146, 150, 146);
    overflow: hidden;
    overflow: scroll;

}


section#productos{/*corresponde al cuadro de LA SECCCION EVENTOS*/
    grid-area: productos;
    background-color: rgb(232, 245, 50);
}

section#servicios{/*corresponde al cuadro de LA SECCCION EVENTOS*/
    grid-area: servicios;
    background-color: aqua; 
    display: flex;
    justify-content: space-between;
    justify-content: flex-start;
    overflow: hidden;
    overflow: scroll;
    
     
}

section#dumbell{/*corresponde al cuadro de LA SECCCION EVENTOS*/
    grid-area: dumbell;
    background-color: blueviolet;
    overflow: hidden;
    overflow: scroll;
}

section#barra{/*corresponde al cuadro de LA SECCCION EVENTOS*/
    grid-area: barra;
    background-color: darkolivegreen;
}

aside{/*corresponde al cuadro de LA SECCCION EVENTOS*/
    grid-area: aside;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.formulario{ /*corresponde SECCION CONTACTOS*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    color: black; 
    padding: 20px; 
    border-radius: 25px; 
    margin-left:5%;
    width: 600px;
    height: 650px;
 }

 .textoFormulario{
    padding: 0.5rem;
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    text-align: center;
        
 }
 .seccionContacto{
     background-image: url(../imagenes/fondoformulario.jpg);

 }
 .seccionfotos{
     background-image: url(../imagenes/fondofotos.jpg);
     
    
 }

 /*.seccionfotografias{ /*grid padre en seccion fotos*/
     display: grid;
     grid-gap: 10px 15px; 
     grid-template-columns: 1fr 1fr 1fr 1fr; 
     grid-template-rows: repeat(4, 25vh)
 
 }

 .hijo1{ /*hijo en seccion fotos*/
    display: flex;
    justify-content: end;
    grid-column: 1 / 2; 
    grid-row: 1 /  span 3; 
    border: rgb(9, 236, 236) 2px dotted;
 }
 .hijo2{ /*hijo en seccion fotos*/
    display: flex;
    grid-column: 2 / 2; 
    grid-row: 1 /  span 3; 
    border: rgb(9, 236, 236) 2px dotted;
    justify-content: center;  
 }
 .hijo3{ /*hijo en seccion fotos*/
    display: flex;
    grid-column: 1 ; 
    grid-row: 4 /  span 2; 
    border: rgb(9, 236, 236) 2px dotted;

 }
 .hijo4{ /*hijo en seccion fotos*/
    display: flex;
    grid-column: 3 ; 
    grid-row: 3 /  span 1; 
    border: rgb(9, 236, 236) 2px dotted;
 }

 .section__ejercicios{
     display: flex;
     height: 80vh;
     align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px 25px;
    font-size: 1.5rem;
    color: white;
    font-style: oblique;
    background-image: url(../imagenes/fondoejercicios2.jpg);
    background-size: cover;
    background-position: center ;
    
 }

 .section__ejerciciosencabezado{ /*degrade al texto encabezado de seccion ejercicios*/
     background: linear-gradient(90deg, #eed706, #eb1708);
     background-clip: text;
     -webkit-background-clip: text;
     color: transparent;
 }

 .section__ejerciciosparrafo{
    background: linear-gradient(180deg, #070706, #e90712);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
 }

 .fondoAccesorios{
background-image: url(../imagenes/fondoaccesorios.jpg);
    
 }

 .seccion__accesorios{ /*grid padre en seccion accesorios*/
    
    display: grid;
    grid-gap: 10px 15px; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: repeat(4, 40vh)
   

 }

 .form-control{
     border: 0px;
 }
 

 .accesorios1{ /*hijo en seccion accesorios*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-gap: 10px 15px;

}



.bordeAccesorio:hover{ /*se pone amarillo el fondo cuando pasamos por arriba*/
    outline: dotted black 5px;
    }

.fondoEjercicio{
    background-image: url(../imagenes/fondoejercicios3.jpg);
}

/*MEDIAS QUERIES*/
@media screen and (max-width: 425px){ /*FORMATO CELULAR*/

    .bodyIndex{
        display: grid; /*armo la grilla para el cuerpo del index*/
        grid-template-columns: 1fr;
    }




    #grilla{ /*corresponde al cuadro de LA SECCCION EVENTOS*/
        grid-template-columns:1fr; /*PASA TODO A 1 SOLA COLUMNA*/
        grid-template-areas:
        "gym"
        "productos" 
        "dumbell";     
       background-color: rgb(8, 8, 99); 
      
    }

    section#barra{/*corresponde al cuadro de LA SECCCION EVENTOS*/
        display: none; /*desaparece en el formato celular*/

    }
    section#servicios{/*corresponde al cuadro de LA SECCCION EVENTOS*/
        display: none; /*desaparece en el formato celular*/
                
    }

    aside{/*corresponde al cuadro de LA SECCCION EVENTOS*/
        display: none; /*desaparece en el formato celular*/

    }

    header{ 
        display: flex; 
        flex-direction: column;
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
        justify-content: center; /*centro el logotipo y los botones*/
        padding: 15px 15px;
                 
    }    
    .hero {
        display: none;

           
    }

    .header__menuBotones{ /*ul*/
         list-style: none;
         display: block;    
         flex-direction: column; /*hago una sola columna de logotipo y los botones*/ 
         padding: 0.5rem 1rem;
                                            
    }




    .hero__contenedor{
        display: none;
         
    }

    .sectionContenedor{ 
        display: grid;
        grid-template-columns: 1fr;/*AHORA PASO TODO A UNA COLUMNA*/
        padding: 20px 25px;
        column-gap: 2rem;
        background-color: rgb(52, 53, 50);
        height: 100%;
        align-content: center;
        text-align:justify;
        align-items: center;
        
    
    }

}
@media (min-width: 992px) { 
    .alto-100{
        height: 100vh;
    }
 }