.botonContacto  { /*seccion contacto*/

    width: 215px;  
    margin: 5px;
    text-align:center;  
    border: $contornoNegro;    
    background-color: rgb(29, 26, 26)
    
  }
  
  .botonContacto_1{
    @extend .botonContacto;
    background-color: rgb(73, 81, 82);
  }
  
  .botonContacto_2{
    @extend .botonContacto;
    background-color: rgb(94, 104, 107);
  }

  .botonContacto:hover{ /*se pone amarillo el fondo de los botones del menu cuando pasamos por arriba*/
    background-color: rgb(5, 5, 4);
    border: solid black 1px;
    }