$botonesIndex: ( /*aplico maps en la seccion contactos, en los botones del final*/
    "a": #f00808, 
    "b": #da4a07,
    "c": #d9f00b,
    tamFuente: 30px
);

@each $color, $value in $botonesIndex{/*aplico maps en la seccion contactos, en los botones del final*/
    .#{$color}{
        color:#{$value};
    }
}
.fase{/*boton seccion contacto/ boton intermedio, llamo una propiedad con map-get*/
    font-size: map-get($botonesIndex , tamFuente);
}