$botonesIndex: ( /*aplico maps en la seccion contactos, en los botones del final*/
    "a": #ffeaea, 
    "b": #ccda07,
    "c": #0bf0d1,
    tamFuente: 20px
);

@each $color, $value in $botonesIndex{/*aplico maps en la seccion contactos, en los botones del final*/
    .#{$color}{
        color:#{$value};
    }
}
.fase{/*boton seccion contacto/ boton intermedio, llamo una propiedad con map-get*/
    font-size: map-get($botonesIndex , tamFuente);
}