@mixin marco {/*en la seccion eventos utilice mixin*/
    border: solid;
    border-image-slice: 1;
    border-width: 4px;
    border-image-source: 
        linear-gradient(
            60deg,
            #b16ec4,
            #5f97b9);
    
}
.marco1{
    @include marco;
}

.marco2{
    @include marco;
}

.marco3{
    @include marco;
}


.h1titulos{ /*titulos/encabezados en seccion eventos*/
    text-align: center;
    font-size: 25px;
    margin-top: 15px;
    color: white;
    
}

@mixin h1titulos{ /*titulos/encabezados en seccion eventos*/
    text-align: center;
    font-size: 25px;
    margin-top: 15px;
    color: white;
    
    }
.h1titulos2{/*titulos/encabezados en seccion informacion*/
    @include h1titulos;
    background-color: rgb(0, 0, 0);
}
